<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.calderon.SignsLanguage">

    <application
        android:name=".App.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.AbcActivity" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.AbcSelectedActivity" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.NumbersActivity" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.NumbersSelectedActivity" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterA" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterB" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterC" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterD" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterE" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterF" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterG" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterH" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterI" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterJ" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterK" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterL" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterM" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterN" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterEne" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterO" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterP" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterQ" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterR" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterS" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterT" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterU" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterV" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterW" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterX" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterY" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Images.LetterZ" />
        <activity android:name=".Numbers.NumberZero" />
        <activity android:name="com.application.calderon.SignsLenguage.SignsLenguage.Activities.NumberSelectedView"></activity>
    </application>

</manifest>